@import "../../styles/abstracts/mixins.scss";
@import "../../styles/abstracts/variables.scss";

.profile {
  padding: 3rem 2rem;

  @include phone {
    padding: 2rem 1rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.text {
	font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}
