$background-color: #EAF6FF;
$primary-color: #007acc;
$secondary-color:#005F99;
$silver-color:#B0BEC5;
$light-color: #ffffff;
$dark-color: #141414;
$text-color:#1C1C1C;
$border-color:#EAEDFA;


$font-family: "Inter", sans-serif;